PORT=5000

MONGODB_URI=mongodb+srv://YOUR_DB_USER:YOUR_DB_PASSWORD@cluster0.xxxxx.mongodb.net/medscan_ai?retryWrites=true&w=majority&appName=Cluster0

AI_SERVICE_URL=http://localhost:8000

NODE_ENV=development
